<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />-->
<!--<title>Untitled Document</title>-->
<!--</head>-->
{%extends 'index4.html'%}
{%block body%}
<body>
<form id="form1" name="form1" method="post" action="">
  <table width="200" border="1" style="color:white">
    <tr>
      <th scope="col">FIRST NAME</th>
      <th scope="col">LAST NAME</th>
      <th scope="col">EXPERIENCE</th>
      <th scope="col">SKILL</th>
      <th scope="col">LOCATION</th>
      <th scope="col">EMAIL</th>
      <th scope="col">CONTACT</th>
    </tr>
    {%for i in value%}
    <tr>
      <td>{{i[1]}}</td>
      <td>{{i[2]}}</td>
      <td>{{i[3]}}</td>
      <td>{{i[4]}}</td>
      <td>{{i[5]}}</td>
      <td>{{i[6]}}</td>
      <td>{{i[7]}}</td>
    </tr>
    {%endfor%}
  </table>
</form>
</body>
{%endblock%}
<!--</html>-->
