<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />-->
<!--<title>Untitled Document</title>-->
<!--</head>-->
{%extends 'index1.html'%}
{%block body%}

<body>
<form id="form1" name="form1" method="post" action="testerupdation">
  <table width="200" border="0" align="center" style="color:white">
    <tr>
      <th scope="row">FIRST NAME</th>
      <td><label for="textfield"></label>
      <input type="text" name="textfield" id="textfield" value="{{value[1]}}" /></td>
    </tr>
    <tr>
      <th scope="row">LAST NAME</th>
      <td><label for="textfield2"></label>
      <input type="text" name="textfield2" id="textfield2" value="{{value[2]}}"/></td>
    </tr>
    <tr>
      <th scope="row">EXPERIENCE LEVEL</th>
      <td><label for="textfield3"></label>
      <input type="text" name="textfield3" id="textfield3" value="{{value[3]}}"/></td>
    </tr>
    <tr>
      <th scope="row">SKILL</th>
      <td>
        <label for="textarea"></label>
      <textarea name="textarea" id="textarea" cols="45" rows="5">{{value[4]}}</textarea></td>
    </tr>
    <tr>
      <th scope="row">LOCATION</th>
      <td><label for="textfield5"></label>
      <input type="text" name="textfield5" id="textfield5" value="{{value[5]}}"/></td>
    </tr>
    <tr>
      <th scope="row">EMAIL</th>
      <td><label for="textfield6"></label>
      <input type="text" name="textfield6" id="textfield6" value="{{value[6]}}" /></td>
    </tr>
    <tr>
      <th scope="row">CONTACT</th>
      <td><label for="textfield7"></label>
      <input type="text" name="textfield7" id="textfield7" value="{{value[7]}}"/></td>
    </tr>

    <tr>
      <th colspan="2" scope="row"><center><input type="submit" name="button" id="button" value="UPDATE" /></center></th>
    </tr>
  </table>

</form>
</body>

{%endblock%}
<!--</html>-->
